{% extends 'bundles/TwigBundle/Exception/layout.html.twig' %}

{% block title %}{{ '500 Internal Server Error'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="g-font-size-180 g-font-size-240--sm g-font-size-420--lg g-line-height-1 g-font-weight-200 g-color-gray-dark-v2">500</div>

    <div class="g-absolute-centered">
        <h1 class="g-font-weight-200 g-mb-20">{{ 'Internal Server Error'|trans }}</h1>
        <p class="g-color-white-opacity-0_6 g-font-size-18">{{ 'The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there was an error in a CGI script.'|trans }}</p>
        <p class="g-color-white-opacity-0_6 g-font-size-18">If you think this is a problem with us, please&nbsp;<a href="mailto:info@orbitrondev.org" class="g-color-white g-color-primary--hover g-text-no-underline--hover">tell us</a>.</p>
        <p class="g-color-white-opacity-0_6 g-font-size-18 mb-0">Here is a link to the <a href="{{ path('index') }}" class="g-color-white g-color-primary--hover g-text-no-underline--hover">home page</a>.</p>
        <p class="g-color-white-opacity-0_6 g-font-size-18">Here is a link to <a href="javascript:window.history.back();" class="g-color-white g-color-primary--hover g-text-no-underline--hover">go back</a>.</p>
        <p class="g-color-white-opacity-0_6 g-font-size-10 mb-0">Server message: [Code: {{ status_code }}] {{ status_text }}</p>
    </div>
{% endblock %}
